<a href="https://colab.research.google.com/github/GYURI-PARK/baekjoon/blob/main/20220719.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 2775번 : 부녀회장이 될테야

# 첫 번째 줄에 Test case의 수 T가 주어진다. 그리고 각각의 케이스마다 입력으로 첫 번째 줄에 정수 k, 두 번째 줄에 정수 n이 주어진다
# 주어지는 양의 정수 k와 n에 대해 k층에 n호에는 몇 명이 살고 있는지 출력하라.
t = int(input())
for i in range(t):
  k,n = map(int,input().split())


# “a층의 b호에 살려면 자신의 아래(a-1)층의 1호부터 b호까지 사람들의 수의 합만큼 사람들을 데려와 살아야 한다”
# 1층 3호 -> 0층 1 + 2 + 3 = 6
# 2층 3호 -> 1층의 1호부터 3호 까지 사람들의 수의 합 => 1+3+6 = 10
# 1층의 1호 -> 1 , 1층의 2호 -> 3(1+2), 1층의 3호 -> 6(1+2+3), 1층의 4호 -> 10(1+2+3+4)
# 2층의 1호 -> 1 , 2층의 2호 -> 4(1+(1+2)), 2층의 3호 -> 10(1+(1+2)+(1+2+3)), 2층의 4호 -> 20(1+(1+2)+(1+2+3)+(1+2+3+4))
# 3층의 1호 -> 1 , 3층의 2호 -> 5(1+1+(1+2)), 2층의 3호 -> 15(1+1+1+(1+2)+(1+2)+(1+2+3)), 3층의 4호 -> 35(1+1+1+1+(1+2)+(1+2)+(1+2)+(1+2+3)+(1+2+3)+(1+2+3+4))

In [ ]:
# 3층의 1호 -> 1                                                                2층 1호 -> 1
# 3층의 2호 -> 1*2 + (1+2)*1                                                    2층 2호 -> 1 + (1+2)
# 3층의 3호 -> 1*3 + (1+2)*2 + (1+2+3)*1                                        2층 3호 -> 1 + (1+2) + (1+2+3)
# 3층의 4호 -> 1*4 + (1+2)*3 + (1+2+3)*2 + (1+2+3+4)                            2층 4호 -> 1 + (1+2) + (1+2+3) + (1+2+3+4)
k = 3 
n = int(input())

3

In [22]:
# 1978번 : 소수 찾기

n = int(input())
num = list(map(int,input().split()))
res = []
for i in range(n):
  for j in range(2,num[i]):
    if num[i] % j == 0 :
      res.append(num[i])
if 1 in num:
  res.append(1)

print(n - len(set(res)))

4
1 3 5 7
3

In [23]:
# 1712번 : 손익분기점

a,b,c = map(int,input().split())
count = 0

0 8 6

In [37]:
# 2292번 : 벌집

# 1번 써클 : 1개 -> 1 = 1(6*0)
# 2번 써클 : 6개 -> 2~7  = 2(6*1)
# 3번 : 12개 -> 8 ~ 19 = 3 (6*3)
# 4번 : 18 -> 20 ~ 37 (6*6)
# 5번 : 24 개  -> 38 ~ 61개 (6*10)

n = int(input())
i = 0
j = 1
count = 0
while (True):
  if n-1 <= 6 * i:
    count += 1
    break;
  else:
    i += j
    j += 1
    count += 1

print(count)

6
2

In [38]:
# 2292번 : 벌집 
# 다른 풀이


n = int(input())
p = c = 1

while n > c:
    c += 6 * p
    # c : 더해지는 수 (6의 배수)
    p += 1
    
print(p)

45
5

In [ ]:
# 10757번 : 큰 수 A + B

import sys
a,b = map(int, sys.stdin.readline().split())
print(a+b)

In [39]:
# 1193번 : 분수찾기

# 1,3, 5, 7, 9

In [49]:
# 2839번 : 설탕 배달

n = int(input())
res = 0
for i in range(n):
  for j in range(n):
    if(n == 5 *i + 3 * j):
      res = i+j
      break;

if res == 0:
  print(-1)
else:
  print(res)

18
4