<a href="https://colab.research.google.com/github/GYURI-PARK/baekjoon/blob/main/20220720.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# 10250번 : ACM 호텔
# 프로그램의 입력은 T 개의 테스트 데이터로 이루어져 있는데 T 는 입력의 맨 첫 줄에 주어진다. 
# 각 테스트 데이터는 한 행으로서 H, W, N, 세 정수를 포함하고 있으며 각각 호텔의 층 수, 각 층의 방 수, 몇 번째 손님인지를 나타낸다(1 ≤ H, W ≤ 99, 1 ≤ N ≤ H × W). 

t = int(input())

for i in range(t):
  h,w,n = map(int,input().split())
  a3 = n % h
  a1 = (n // h)+ 1
  res = str(a3) + '0' + str(a1)
  print(res)

2
6 12 10
30 50 72
402
1203

In [9]:
2
6 12 10
30 50 72

3012

In [2]:
print('hello world', end = '')
print('hello world')

hello worldhellowiordl

In [3]:
for i in range(3):
  print('hello world')

hello world
hello world
hello world

In [4]:
for i in range(3):
  print('hello world', end = '')

hello worldhello worldhello world

In [7]:
5//3

1