<a href="https://colab.research.google.com/github/GYURI-PARK/baekjoon/blob/main/20220705.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [78]:
#10871
n,x = map(int,input().split())
a = list(map(int,input().split()))
for i in range(n):
  if(a[i] < x):
    print(a[i], end = " ")

3 6
2 324 6
2 [2, 324, 6]

In [20]:
 # 10952
 # 값은 나오는데 틀렸댕ㅠㅜㅠ

while True:
  a,b = map(int,input().split())
  print(a + b)
  if(a == b == 0):
    break;

2 1
3
0 0
0

In [21]:
# 10952
while True:
  a,b = map(int,input().split())
  if(a == b == 0):
    break;
  else:
    print(a+b)

1 2
3
0 0

In [22]:
# 10951
while True:
  try:
    a,b = map(int,input().split())
    print(a + b)
  except:
    break;

1 3
4
3 6
9
1 30
31

In [43]:
# 1110

a = int(input())
count = 0;
# 십의 자리 = 10으로 나눴을 때의 몫 //
# 일의 자리 = 10으로 나눴을 때의 나머지 %
# c, d = divmod(a,10)
# new = d*10 + c+d

while True:
  count += 1
  c, d = divmod(a,10)
  a = d*10 + c + d
  if(a == a):
    break;
print(count)

26
1

In [51]:
# 10818번

x = int(input())
a = list(map(int,input().split()))
print(min(a), max(a))

3
10 20 30
10 30

In [163]:
# 2562번

lis =[]
for i in range(9):
  a = int(input());
  lis.append(a)
  
print(max(lis))
print(lis.index(max(lis))+1)

23
43
75
87
8
67
87
4
5
87
4

In [141]:
# 2577
# 너무 길다....

a = int(input())
b = int(input())
c = int(input())
d = a * b * c
lis = []
x0 = 0
x1 = 0
x2 = 0
x3 = 0
x4 = 0
x5 = 0
x6 = 0
x7 = 0
x8 = 0 
x9 = 0 
for i in range(len(str(d))):
  if(str(d)[i] == '0'):
    x0 += 1;
  elif(str(d)[i] == '1'):
    x1 += 1;
  elif(str(d)[i] == '2'):
    x2 += 1;
  elif(str(d)[i] == '3'):
    x3 += 1;  
  elif(str(d)[i] == '4'):
    x4 += 1;  
  elif(str(d)[i] == '5'):
    x5 += 1;
  elif(str(d)[i] == '6'):
    x6 += 1;
  elif(str(d)[i] == '7'):
    x7 += 1;
  elif(str(d)[i] == '8'):
    x8 += 1;
  else:
    x9 += 1;

print(x0)
print(x1)
print(x2)
print(x3)
print(x4)
print(x5)
print(x6)
print(x7)
print(x8)
print(x9)

234
123
234
6734988

In [156]:
# 2577
# .count 사용해서 다시
a = int(input())
b = int(input())
c = int(input())
res = str(a*b*c)
for i in range(10):
  print(res.count(str(i)))

234
645
678
3
1
1
2
1
1
0
0
0
0

In [207]:
# 3052번
# set()함수로 중복제거

lis = []
res = []
for i in range(10):
  a = int(input())
  lis.append(a)
  res.append(a % 42)
print(len(set(res)))

1
2
3
4
5
6
7
8
9
10

10

In [247]:
# 1546번

n = int(input())
sum = 0
score = list(map(int,input().split()))
m = max(score)
for i in range(n):
  score[i] = score[i]/m*100
  sum += score[i]
print(sum/n)

3
10 20 30
66.66666666666667

In [244]:
# 1546번 
# input 대신 sys.stdin.readline()으로 입력받기
import sys
n = int(input())
sum = 0
score = list(map(int, sys.stdin.readline().split()))
# list(map(int, sys.stdin.readline().split()))
# inut자리에만 바꿔주고 나머지는 똑같이 써주면 됨
m = max(score)
for i in range(n):
    score[i] = score[i]/m*100
    sum += score[i]
print(sum/n)

60.00000000000001

In [277]:
# 1110번
n = int(input())
a,b = divmod(n,10)
count = 0; 

x1 = str(b) + str(int(a+b)%10)
print(x1)
a,b = divmod(int(x1), 10)
count += 1;

x2 = str(x1)[1] + str(int(a+b)%10)
print(x2)
a,b = divmod(int(x2), 10)
count += 1;

x3 = str(x2)[1] + str(int(a+b)%10)
print(x3)
a,b = divmod(int(x3), 10)
count += 1;

x4 = str(x3)[1] + str(int(a+b)%10)
print(x4)
count += 1;

print(count)

42
26
68
84
42
4

In [283]:
# 1110번
n = int(input())
a,b = divmod(n,10)
count = 0; 

while True:
  x1 = str(b) + str(int(a+b)%10)
  a,b = divmod(int(x1), 10)
  count += 1;

  if (int(x1) == n):
    break;

print(count)

42
4