<a href="https://colab.research.google.com/github/GYURI-PARK/baekjoon/blob/main/20220725.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
# 10250번 : ACM 호텔
# 프로그램의 입력은 T 개의 테스트 데이터로 이루어져 있는데 T 는 입력의 맨 첫 줄에 주어진다. 
# 각 테스트 데이터는 한 행으로서 H, W, N, 세 정수를 포함하고 있으며 각각 호텔의 층 수, 각 층의 방 수, 몇 번째 손님인지를 나타낸다(1 ≤ H, W ≤ 99, 1 ≤ N ≤ H × W). 

t = int(input())

for i in range(t):
  h,w,n = map(int,input().split())
  a3 = n % h
  a1 = (n // h) + 1
  if a3 == 0:
    a3 =  h
    a1 = n // h
  if a1 > 9 :
    res = int(str(a3) + str(a1))
  else:
    res = int(str(a3) + '0' + str(a1))
  print(res)

3
6 12 59
510
6 6 12
602
6 12 10
402

In [5]:
# 2869번 : 달팽이는 올라가고 싶다.
# 땅 위에 달팽이가 있다. 이 달팽이는 높이가 V미터인 나무 막대를 올라갈 것이다.
# 달팽이는 낮에 A미터 올라갈 수 있다. 하지만, 밤에 잠을 자는 동안 B미터 미끄러진다. 또, 정상에 올라간 후에는 미끄러지지 않는다.
# 달팽이가 나무 막대를 모두 올라가려면, 며칠이 걸리는지 구하는 프로그램을 작성하시오.
# 첫째 줄에 세 정수 A, B, V가 공백으로 구분되어서 주어진다. (1 ≤ B < A ≤ V ≤ 1,000,000,000)
# 첫째 줄에 달팽이가 나무 막대를 모두 올라가는데 며칠이 걸리는지 출력한다.

a, b, v = map(int,input().split())
cur = 0
count = 0
while (True):
  cur += a
  if cur > v:
    count += 1
    break;
  cur -= b
  count += 1

print(count)

5 1 6
2

In [25]:
# 2108번 : 통계학

# 첫째 줄에는 산술평균을 출력한다. 소수점 이하 첫째 자리에서 반올림한 값을 출력한다.
# 둘째 줄에는 중앙값을 출력한다.
# 셋째 줄에는 최빈값을 출력한다. 여러 개 있을 때에는 최빈값 중 두 번째로 작은 값을 출력한다.
# 넷째 줄에는 범위를 출력한다.

n = int(input())
num = []
for i in range(n):
  num.append(int(input()))

# 소수 첫째 자리에서 반올림 > round(숫자)
# 1 의 자리에서 반올림 > round(num, -1)
# 소수 두번째 자리에서 반올림 > round(num, 1)
a1 = round((sum(num) / n))
#print(a1)
a2 = sorted(num)[round(n/2)]
#print(sorted(num))
#print(a2)
imp = []
for _ in num:
    imp.append(num.count(_))
if imp.count(max(imp)) >= 2 :
  a3 = sorted(num)[1]
else:
  a3 = num.find(max(imp))
#print(a3)
a4 = max(num) - min(num)
print(a1)
print(a2)
print(a3)
print(a4)

5
1
3
8
-2
2
2
2
1
10

In [21]:
print(a3)

1